In [12]:
import FinanceDataReader as fdr
import pandas as pd

In [13]:
# 삼성전자(005930) 전체 (1996-11-05 ~ 현재)
df = fdr.DataReader('005930')
df

             Open   High    Low  Close    Volume    Change
Date
1998-02-14   1470   1477   1377   1387    226076       NaN
1998-02-16   1396   1416   1352   1398    390959  0.007931
1998-02-17   1403   1450   1390   1434    263986  0.025751
1998-02-18   1452   1523   1443   1489    406600  0.038354
1998-02-19   1497   1597   1488   1552    702640  0.042310
...           ...    ...    ...    ...       ...       ...
2022-03-28  69500  69900  69200  69700  12619289 -0.001433
2022-03-29  70000  70300  69800  70200  13686208  0.007174
2022-03-30  70300  70500  69800  69900  12670187 -0.004274
2022-03-31  69900  70200  69600  69600  12510366 -0.004292
2022-04-01  69500  69500  69000  69100  15852053 -0.007184

[6000 rows x 6 columns]

In [14]:
stocks = fdr.StockListing('KOSPI') # 코스피
stocks.head()

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
1,095570,KOSPI,AJ네트웍스,산업용 기계 및 장비 임대업,"렌탈(파렛트, OA장비, 건설장비)",2015-08-21,12월,"박대현, 손삼달",http://www.ajnet.co.kr,서울특별시
2,006840,KOSPI,AK홀딩스,기타 금융업,지주사업,1999-08-11,12월,"채형석, 이석주(각자 대표이사)",http://www.aekyunggroup.co.kr,서울특별시
6,152100,KOSPI,ARIRANG 200,NaN,NaN,NaT,NaN,NaN,NaN,NaN
7,295820,KOSPI,ARIRANG 200동일가중,NaN,NaN,NaT,NaN,NaN,NaN,NaN
8,253150,KOSPI,ARIRANG 200선물레버리지,NaN,NaN,NaT,NaN,NaN,NaN,NaN

In [15]:
# '회사명':'Name', '종목코드':'Symbol', '업종':'Sector', '주요제품':'Industry', 
# '상장일':'ListingDate', '결산월':'SettleMonth',  '대표자명':'Representative', 
# '홈페이지':'HomePage', '지역':'Region'
stocks.columns

Index(['Symbol', 'Market', 'Name', 'Sector', 'Industry', 'ListingDate',
       'SettleMonth', 'Representative', 'HomePage', 'Region'],
      dtype='object')

In [16]:
stocks.shape

(6231, 10)

In [19]:
stocks.iloc[0]

Symbol                            095570
Market                             KOSPI
Name                              AJ네트웍스
Sector                   산업용 기계 및 장비 임대업
Industry             렌탈(파렛트, OA장비, 건설장비)
ListingDate          2015-08-21 00:00:00
SettleMonth                          12월
Representative                  박대현, 손삼달
HomePage          http://www.ajnet.co.kr
Region                             서울특별시
Name: 1, dtype: object

In [23]:
stocks.iloc[0][9]

'서울특별시'

In [28]:
id_ = 1
for i in range(5):
    print(id_, stocks.iloc[i][0],stocks.iloc[i][1],stocks.iloc[i][2],stocks.iloc[i][3],stocks.iloc[i][4],
    stocks.iloc[i][5],stocks.iloc[i][6],stocks.iloc[i][7],stocks.iloc[i][8],stocks.iloc[i][9])
    id_ += 1

1 095570 KOSPI AJ네트웍스 산업용 기계 및 장비 임대업 렌탈(파렛트, OA장비, 건설장비) 2015-08-21 00:00:00 12월 박대현, 손삼달 http://www.ajnet.co.kr 서울특별시
2 006840 KOSPI AK홀딩스 기타 금융업 지주사업 1999-08-11 00:00:00 12월 채형석, 이석주(각자 대표이사) http://www.aekyunggroup.co.kr 서울특별시
3 152100 KOSPI ARIRANG 200 nan nan NaT nan nan nan nan
4 295820 KOSPI ARIRANG 200동일가중 nan nan NaT nan nan nan nan
5 253150 KOSPI ARIRANG 200선물레버리지 nan nan NaT nan nan nan nan

In [34]:
import sqlite3

conn = sqlite3.connect('stock.db')
cur = conn.cursor()

In [36]:
i_d = 1
for i in range(len(stocks)):
    cur.execute("""
                    INSERT INTO kospi('Id', 'Symbol', 'Market', 'Name', 'Sector', 'Industry', 'ListingDate','SettleMonth', 'Representative', 'HomePage', 'Region')
                    VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);
                    """, (i_d, stocks.iloc[i][0],stocks.iloc[i][1],stocks.iloc[i][2],stocks.iloc[i][3],stocks.iloc[i][4],stocks.iloc[i][5],stocks.iloc[i][6],stocks.iloc[i][7],stocks.iloc[i][8],stocks.iloc[i][9]))
    i_d +=1

InterfaceError: Error binding parameter 6 - probably unsupported type.